span.foreign, span.crossreference, #affix .due_msg, #affix .word {
    font-style: italic;
    font-weight: bold;
}
.options{
    text-align: center;
}
.option-set{
    margin-top: 20px;
    margin-bottom: 20px;
}
#save{
    margin: 20px;
}
.shortcut{
    line-height: 150%;
}
a.note-button{
    margin-right: 15px;
}
a.note-button,a#show_cn_df{
    text-decoration: underline;
    margin-left: 6px;
}
#status{
    float:left;
    color: green;
    font-size: 25pt;
}
#add-status{
    color: green;
    font-size: 16pt;
}
.shortcut ol{
    text-align: left;
    margin-left: 20px;

}

#add-new-book{
    width:95%;
    margin:6px
}
a#btn-delete-all-book{
    float: right;
}

textarea#words{
background-color: #ffffff;
border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s;
}


input[type="text"], textarea {
    border: 2px solid white;
    -webkit-box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
input[type="text"]:focus, textarea:focus,
input[type="text"].focus, textarea:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.roots-wrapper a p {
    font-weight: bolder;
    font-size: 120%;
}

.roots-wrapper a section {
    color: #333;
}
