body {
   /* padding-top: 3px;*/
    width: 500px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

* {
    font-size: 14px;
}

ol {
    margin: 0;
    padding-left: 30px;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

/* all about link */
a {
    text-decoration: none;
    color: #51A351;
}

a:hover {
    color: white;
    background-color: #51A351;
}

#jump_a:hover {
    background-color: #408140;
}

#horn:hover {
    cursor: pointer;
    background-color: #E6E6E6;
}

#search_area span, button{
    margin-left: 5px;
}

/* search area */
#word {
    width: 250px;
}

#jump {
    position: relative;
}

.invisible {
    display: none;
}


/* definition area */
#definition {
    margin-top: 0.8em;
    line-height: 1.5;
}

.word {
    font-size: 18px;
    font-weight: bold;
}

.color, .word {
    color: #C09;
}

#zh_trans {
    margin-top: 0.3em;
}

.part-of-speech {
    margin-top: 0.3em;
}


/* header and footer */
#header, #about {
    text-align: right;
    line-height: 0;
}

#logo {
    position: absolute;
    top: 0.6em;
    right: 16.5em;
}


/* options page */
#options_content {
    border-color: #ABD;
    border-style: solid;
    border-width: 4px;
    padding: 8px;
    margin: 0 auto 0 auto;
    width: 300px;
}

#message {
    position: absolute;
    top: 1em;
    background-color: #FEA;
    font-size: 0.6em;
}

#return {
    position: relative;
    left: 8em;
}

h4 {
    margin: 1em 0 1em 0;
}