span.foreign,#affix .due_msg,#affix .word{
font-style:italic;
font-weight:bold;
}
.options{
    text-align: center;
}
.option-set{
    margin-top: 20px;
    margin-bottom: 20px;
}
#save{
    margin: 20px;
}
.shortcut{
    line-height: 150%;
}
a.note-button{
    margin-right: 15px;
}
a.note-button,a#show_cn_df{
    text-decoration: underline;
    margin-left: 6px;
}
#status{
    float:left;
    color: green;
    font-size: 25pt;
}
.shortcut ol{
    text-align: left;
    margin-left: 20px;

}
textarea#words{
background-color: #ffffff;
border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s;
}
